
/*Background*/
body{
    background: #CDCDCD;
}
/*barra de navegacion - start*/
#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background: #343434;
    overflow: hidden;
}
#dropdown-content{
    display: none;
    position: absolute;
    background-color: #343434;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-width: 160px;
    right: 8px;
}
#dropdown-content a {
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover{
    background-color: #EC3E3F;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding:15px;
    text-decoration: none;
}
li a:hover:not(#org){
    background-color: #EC3E3F;
}
#user:hover #dropdown-content {
    display: block;
}
#user{
    float: right;
}
#org{
    background-color: #EC3E3F;
}
/*barra de navegacion - end*/

/*tabla con pensum organizado - start*/
#Pensum_Organizado_auto{
    background: white;
    border: solid;
    height: 423px;
    overflow-y: scroll;
    margin-top:25px;
}
#Tabla-P-O{
    border-collapse:collapse;
    width:100%;
}
th,td{
    text-align: center;
    border-bottom: solid;
    padding: 15px;
    margin: 10px;
}
#t{
	color: white;
	background: #EC3E3F;
}
/*tabla con pensum organizado - end*/

/*botones e info - start*/
#Information_and_bottons a{
    text-decoration: none;
    color: black;
}
#Bottons{
	height: 98px;
}
#Editar,#Cancelar,#Descargar,#Guardar{
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-left: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
    transition: all 0.3s; 
    border-radius: 5px;
}
#Editar:hover,#Cancelar:hover,#Descargar:hover, #Guardar:hover{
    box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
    background-color: #EC3E3F;
    transition: all 0.3s;
}
#Editar a,#Cancelar a,#Descargar a,#Guardar a{
    color: white;
}
#Editar{
    background: #343434;
    margin-top: 15px;
}
#Guardar{
    background: #343434;
    position:relative;
    margin-top: 15px;
    bottom: 53px;
    left: 16%;
}
#Descargar{
    background: #343434;
    position:relative;
    bottom: 32px;
}
#Cancelar{
    background: #343434;
    position:relative;
    bottom: 70px;
    left: 16%;
}
#Information{
	height: 0px;
}
#Tiempo-R{
    border-radius: 3px;
    background: #72AF47;
    position:relative;
    padding: 10px;
    color: white;
    width: 12%;
    left: 1052px;
    bottom: 129px;
}
#Duracion-P{
    background: white;
    border: solid black 1px;
    border-radius: 3px;
    position:relative;
    width: 12%;
    padding: 10px;
    left: 62%;
    bottom: 72px;
}
p{
    padding: 0px;
    margin: 0px;
}
/*botones e info - end*/
